<pre>{{ $ctrl.assets | json }}</pre>

<md-list>
  <md-list-item class="md-3-line" style="min-height: inherit;">
    <div class="md-list-item-text" layout="row" style="margin: 3px;">
      <md-input-container flex="45">
        <input type="text" ng-model="$ctrl.asset.name" placeholder="name">
      </md-input-container>
      <md-input-container flex="45">
        <input type="number" ng-model="$ctrl.asset.value" placeholder="value">
      </md-input-container>
      <md-button ng-click="$ctrl.addAsset()">
        <md-icon aria-label="add-assets" class="material-icons" style="font-size: 24px;">add</md-icon>
      </md-button>
    </div>
  </md-list-item>
</md-list>
